---
layout: default
title: Gold Coast, Australia
permalink: /
description: linux.conf.au is an open source technologies conference running Jan 13-17 2020 at the Gold Coast, Australia.
---

<div>
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6 align-self-center py-sm-4">
        <h1>linux.conf.au 2020</h1>
        <p class="h2 text-muted">January 13-17 2020<br>
          Gold Coast, Australia
        </p>
      </div>
      <div class="col-md-6">
        <img src="/media/img/lca2020_splash_board.jpg" class="img-fluid" alt="linux.conf.au 2020 at the Gold Coast">
      </div>
    </div>
  </div>
</div>

<div class="bg-blaze">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>linux.conf.au 2020 is over</h2>
        <p class="lead">Thank you to everyone who attended the conference this year.</p>
        <p>We enjoyed the opportunity to bring linux.conf.au to the Gold Coast and deliver a fantastic range of miniconfs and presentations.</p>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Watch linux.conf.au 2020</h2>
        <p>You can catch up on all of the presentations from linux.conf.au 2020 by watching the videos.</p>
        <a href="https://youtube.com/c/linuxconfau/" class="btn btn-secondary" role="button" target="_blank">Watch on YouTube</a>
        <a href="https://mirror.linux.org.au/pub/linux.conf.au/2020/" class="btn btn-info" role="button" target="_blank">Download from Mirror</a>
      </div>
      <div class="col-md-6">
        <h2>Join us in 2021</h2>
        <p>linux.conf.au 2021 will be held Online, Worldwide. Join us in January 2021 for another set of outstanding presentations.</p>
        <a href="http://lca2021.linux.org.au" class="btn btn-primary">Find out more</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-dusk-sea banner-subscribe">
  <div class="container py-4 text-center">
    <div class="row">
      <div class="col">
        <h2>Want to keep up to date?</h2>
        <p>If you want to keep up to date with information about future linux.conf.au events, you can subscribe to the announcement mailing list.</p>
        <a href="https://lists.linux.org.au/mailman/listinfo/lca-announce" class="btn btn-outline-light" role="button">Subscribe for updates</a>
      </div>
    </div>
  </div>
</div>

<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>About linux.conf.au</h2>
        <p>Running since 1999, linux.conf.au is the largest linux and open source conference in the Asia-Pacific region. The
        conference provides deeply technical presentations from industry leaders and experts on a wide array of subjects
        relating to open source projects, data and open government and community engagement.</p>
        <p>Still unsure what linux.conf.au is all about? Take a look through videos from past linux.conf.au
          conferences on
          YouTube: <a href="https://youtube.com/c/linuxconfau">LCA2019</a> or <a href="https://www.youtube.com/c/linuxconfau/channels">earlier</a>.</p>
      </div>
    </div>
  </div>
</div>
