<div class="card-deck-md my-3">
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/system-administration">System Administration</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Simon Lyall</h5>
      <p class="card-text">The Systems Administration Miniconf focuses on professional management of real-world Linux and open source environments, both large and small.</p>
    </div>
    <div class="card-footer">
      <span>Mon 13 Jan</span>
      <a href="/programme/miniconfs/system-administration" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/creative-arts">Creative Arts</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Jonathan Woithe</h5>
      <p class="card-text">Take a look at the imaginative ways that artists, performers and programmers are using open technology to create things and multimedia experiences that are beautiful, interesting, and even useful.</p>
    </div>
    <div class="card-footer">
      <span>Mon 13 Jan</span>
      <a href="/programme/miniconfs/creative-arts" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/games">Games and FOSS</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Tim Nugent and Paris Buttfield-Addison</h5>
      <p class="card-text">A single day exploring the interaction of games, free and open source software, and their communities and developers.</p>
    </div>
    <div class="card-footer">
      <span>Mon 13 Jan</span>
      <a href="/programme/miniconfs/games" class="card-link float-right">More details</a>
    </div>
  </div>
</div>
<div class="card-deck-md my-3">
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/open-isa">Open ISA (RISC-V, OpenPOWER, etc)</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Alistair Francis and Hugh Blemings</h5>
      <p class="card-text">Deep dive into the exciting field of open architectures.</p>
    </div>
    <div class="card-footer">
      <span>Mon 13 Jan</span>
      <a href="/programme/miniconfs/open-isa" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/documentation">The Absolute Value of Documentation</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Joe Robinson and Dan Macpherson</h5>
      <p class="card-text">Discover how great documentation is a critical aspect of any successful project.</p>
    </div>
    <div class="card-footer">
      <span>Mon 13 Jan</span>
      <a href="/programme/miniconfs/documentation" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/open-education">Open Education</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Arjen Lentz</h5>
      <p class="card-text">A day on using open tools, open source and creative commons thinking in schools and other education environments.</p>
    </div>
    <div class="card-footer">
      <span>Mon 13 Jan</span>
      <a href="/programme/miniconfs/open-education" class="card-link float-right">More details</a>
    </div>
  </div>
</div>
<div class="card-deck-md my-3">
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/kernel">Kernel</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Andrew Donnellan</h5>
      <p class="card-text">A variety of talks and discussions on kernel and systems programming topics, including technical talks on current kernel developments and kernel community/process.</p>
    </div>
    <div class="card-footer">
      <span>Tue 14 Jan</span>
      <a href="/programme/miniconfs/kernel" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/glam">GO GLAM</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Sae Ra Germaine and Hugh Rundle</h5>
      <p class="card-text">The intersection of GLAM institutions (Galleries, Libraries, Archives, Museums) and open source communities.</p>
    </div>
    <div class="card-footer">
      <span>Tue 14 Jan</span>
      <a href="/programme/miniconfs/glam" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/security-privacy">Security, Identity and Privacy</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Ben Dechrai and Erin Zimmer</h5>
      <p class="card-text">With security, identity and privacy becoming ever more important, explore how these areas fit in the open source landscape.</p>
    </div>
    <div class="card-footer">
      <span>Tue 14 Jan</span>
      <a href="/programme/miniconfs/security-privacy" class="card-link float-right">More details</a>
    </div>
  </div>
</div>
<div class="card-deck-md my-3">
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/containers">Kubernetes, Containers and Docker</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Angus Lees</h5>
      <p class="card-text">A day of discussion about containers and related orchestration platforms.</p>
    </div>
    <div class="card-footer">
      <span>Tue 14 Jan</span>
      <a href="/programme/miniconfs/containers" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/freebsd">FreeBSD</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Jonathan Eastgate and Deb Goodkin</h5>
      <p class="card-text">Learn about FreeBSD and how it ties into the broader open source ecosystem.</p>
    </div>
    <div class="card-footer">
      <span>Tue 14 Jan</span>
      <a href="/programme/miniconfs/freebsd" class="card-link float-right">More details</a>
    </div>
  </div>
  <div class="card my-2 my-md-0">
    <div class="card-body">
      <h3 class="card-title"><a href="/programme/miniconfs/open-hardware">Open Hardware</a></h3>
      <h5 class="card-subtitle mb-2 text-muted">Organised by Jonathan Oxer and Andy Gelme</h5>
      <p class="card-text">Construct your own robot in the morning, then learn more about open hardware and related software in the afternoon.</p>
    </div>
    <div class="card-footer">
      <span>Tue 14 Jan</span>
      <a href="/programme/miniconfs/open-hardware" class="card-link float-right">More details</a>
    </div>
  </div>
</div>
