<div class="table-responsive table-hover">
  <table class="table text-center" cellspacing=".5em" summary="This table details the sizes for each shirt type.">
    <thead>
      <tr>
        <th></th>
        <th colspan="2" scope="col">XS</th>
        <th colspan="2" scope="col">S</th>
        <th colspan="2" scope="col">M</th>
        <th colspan="2" scope="col">L</th>
        <th colspan="2" scope="col">XL</th>
        <th colspan="2" scope="col">2XL</th>
        <th colspan="2" scope="col">3XL</th>
        <th colspan="2" scope="col">4XL</th>
        <th colspan="2" scope="col">5XL</th>
      </tr>
      <tr>
        <th></th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
        <th scope="col">W</th>
        <th scope="col">L</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="text-left" scope="row">Straight Cut</th>
        <td>-</td>
        <td>-</td>
        <td>47</td>
        <td>71</td>
        <td>52</td>
        <td>75</td>
        <td>56.5</td>
        <td>78.5</td>
        <td>61</td>
        <td>82</td>
        <td>64</td>
        <td>83.5</td>
        <td>68</td>
        <td>85</td>
        <td>75</td>
        <td>87</td>
        <td>80</td>
        <td>89</td>
      </tr>
      <tr>
        <th class="text-left" scope="row">Semi-Fitted</th>
        <td>45.5</td>
        <td>63.5</td>
        <td>48</td>
        <td>64.5</td>
        <td>50.5</td>
        <td>65.5</td>
        <td>53</td>
        <td>66.5</td>
        <td>55.5</td>
        <td>67.5</td>
        <td>58</td>
        <td>68.5</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <th class="text-left" scope="row">Fitted</th>
        <td>41.5</td>
        <td>67.5</td>
        <td>44</td>
        <td>68.5</td>
        <td>46.5</td>
        <td>69.5</td>
        <td>49</td>
        <td>70.5</td>
        <td>53</td>
        <td>71.5</td>
        <td>56.5</td>
        <td>72.5</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
</div>
