<div class="table-responsive">
  <table class="table table-striped table-bordered" summary="This table provides a summary of the prices and what is included at each ticket tier">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Contributor</th>
        <th scope="col">Professional</th>
        <th scope="col">Hobbyist</th>
        <th scope="col">Student</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><del>Early Bird Price</del></th>
        <td><del>$1849</del></td>
        <td><del>$949</del></td>
        <td><del>$399</del></td>
        <td><del>n/a</del></td>
      </tr>
      <tr>
        <th scope="row">Regular Price </th>
        <td>$1999</td>
        <td>$1099</td>
        <td>$549</td>
        <td>$199</td>
      </tr>
      <tr>
        <th colspan="5">Inclusions</th>
      </tr>
      <tr>
        <th scope="row">Main Conference</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Miniconfs</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Penguin Dinner^</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>$95</td>
        <td>$95</td>
      </tr>
      <tr>
        <th scope="row">Professional Delegates Networking Session (PDNS)</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Conference Shirt^^</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
      </tr>
      <tr>
        <th scope="row">Additional Schwag</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th scope="row">Acknowledged at Opening</th>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th colspan="5">Addons</th>
      </tr>
      <tr>
        <th scope="row">Conference Shirt - Additional (each)^^</th>
        <td>$25</td>
        <td>$25</td>
        <td>$25</td>
        <td>$25</td>
      </tr>
      <tr>
        <th scope="row">Penguin Dinner - Additional (each)^</th>
        <td>$95</td>
        <td>$95</td>
        <td>$95</td>
        <td>$95</td>
      </tr>
    </tbody>
  </table>
</div>

<strong>Notes:</strong>
<ul>
    <li>
        ^Additional tickets for Penguin Dinner for family/others are also available at a price of $95/ticket.
    </li>
    <li>
        ^^Additional shirts will be available for purchase at a price of $25/shirt, dependent on available stock.
    </li>
</ul>
